<div class="container-fluid">

  <section id="home" class="row">

    <div class="left col-3">
      <div class="row justify-content-center ft mt-4 mb-4">
        <div class="col-12">
          <img src="../../../assets/logo.png" class="logo" alt="">
        </div>
      </div>

      <div class="row justify-content-center ft mt-4 mb-4">
        <div class="col-12">
          <div class="row justify-content-center ft">
            <div class="col-9 input-content">
              <!-- <input type="text" class="col-10"> -->
              <div class="row">
                <div class="col-10"></div><div class="col-2"><a href="#"><mat-icon class="mt-2">search</mat-icon></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row menu mt-4 mb-4">
        <div class="col-11">
          <div class="row">
            <div class="col-12 p-n2 mt-4 pt-4">
              <ul class="m-n3">
                <li>
                  <a href="#">Accueil</a>
                </li>
                <li>
                  <a href="#">Consectetur adipi</a>
                </li>
                <li>
                  <a href="#">Do eiusmod temporim</a>
                </li>
                <li>
                  <a href="#">Exercitation</a>
                </li>
                <li>
                  <a href="#">Magna</a>
                </li>
                <li id="spe-menu" class="mt-4 mb-4">
                  <span><font size="5"><b>Waccutim laudan tium totam</b></font></span>
                </li>
                <li>
                  <a href="#">Exercitation</a>
                </li>
                <li>
                  <a href="#">Magna</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="contact-social" class="row justify-content-center ft">
        <div class="col-12">
          <font size="4"><b>CONTACTEZ-NOUS</b></font>
        </div>
        <div class="col-12 pt-3">
          <span><i class="fab fa-facebook fa-2x"></i></span> <span><i class="fab fa-twitter fa-2x"></i></span> <span><i class="fab fa-instagram fa-2x"></i></span> <span><i class="fab fa-youtube fa-2x"></i></span>
        </div>
      </div>
    </div>
     
    <div class="right col-9">
      <div id="link" class="row justify-content-center ft mb-4">
        <div class="col-3 my-auto">
          <a href="">SE CONNECTER</a>
        </div>
        <div class="col-3 my-auto">
          <a href="">S'INSCRIRE</a>
        </div>
      </div>

      <div id="right-text" class="row justify-content-center ft mt-4 mb-3">
        <div class="col-12">
          <p>Lorem ipsum dolor sit amet</p>
          <p>onsectetur adipiscing elit, sed do eiusmod.</p>
        </div>
        <div class="col-3">
          <hr>
        </div>
      </div>

      <div id="right-button" class="row justify-content-center ft mt-4 pt-4">
        <div class="col-12">
          <button mat-raised-button id="discover-text"><b>DECOUVRIR</b></button>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="row">
    <div class="col-12 my-auto">
      <div class="row justify-content-center ft">
        <div class="col-12 my-auto">
          <span><b>PRENDRE CONTACT</b></span>
        </div>
      </div>
    </div>
  </section>

  <section id="form-contact" class="row">
    <div class="contact-left col-6">
      <div class="row">
        <div class="col-12 form-contact-top"></div>
        <div class="col-12 mt-2 form-contact-body">
          <div class="row">
            <div class="col-12 mx-md-5">
              <span id="body-text-1"><b>CONTACTEZ NOUS</b></span>
            </div>
            <div class="col-12 mt-3 mx-5">
              <span id="body-text-2">ADIPISCI VELIT, SED QUIA NON</span>
            </div>
            <div class="col-12 col-md-9 mt-5 mx-5">
              <span><font size="5">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</font></span>
            </div>
          </div>
        </div>
      </div>
    </div>
     
    <div class="contact-right col-6">
      <div class="col-12 form-contact-form"></div>
      <div class="col-10 mx-5">
        <div class="row">
          <div class="col-12 mb-4">
            <mat-form-field 
              appearance="legacy"
              class="col-12"
            >
              <mat-label>Nom</mat-label>
              <input matInput required>
            </mat-form-field>
          </div>

          <div class="col-12 mb-4">
            <mat-form-field 
              appearance="legacy"
              class="col-12"
            >
              <mat-label>Prénom</mat-label>
              <input matInput required>
            </mat-form-field>
          </div>

          <div class="col-12 mb-4">
            <mat-form-field 
              appearance="legacy"
              class="col-12"
            >
              <mat-label>E-mail</mat-label>
              <input matInput required>
            </mat-form-field>
          </div>

          <div class="col-12 mb-4">
            <mat-form-field 
              appearance="legacy"
              class="col-12"
            >
              <mat-label>Téléphone</mat-label>
              <input matInput required>
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-12 mb-4">
            <mat-form-field 
              appearance="legacy"
              class="col-12"
            >
              <mat-label>Nom de l'entreprise</mat-label>
              <input matInput required>
            </mat-form-field>
          </div>

          <div class="col-12 mb-4">
            <mat-form-field 
              appearance="legacy"
              class="col-12"
            >
              <mat-label>Ville</mat-label>
              <input matInput required>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="help" class="row">
    <div class="col-12" id="body-help">
      <div class="row h-100">
        <div class="col-12 col-md-10 col-lg-8 mx-auto">
          <div class="row h-100">
            <div class="col-12 help-top"></div>
            <div class="col-12 help-top-text">
              <div class="row">
                <div class="col-10 mx-auto">
                  <span><font size="4"><b>COMMENT POUVONS-NOUS VOUS AIDER ?</b></font></span>
                </div>
              </div>
            </div>
            <div class="col-12 help-form">
              <div class="row">
                <div class="col-10 mx-auto">
                  <!-- col-md-10 col-lg-7 -->
                  <textarea class="col-12" name="" id="help-text-area" cols="30" rows="10" placeholder="VOTRE MESSAGE ICI"></textarea>
                </div>
              </div>
            </div>
            <div class="col-12 help-check">
              <div class="row">
                <div class="col-10 mx-auto">
                  <div class="row">
                    <div class="col-12 col-md-4"></div>
                    <div class="col-12 col-md-8">
                      <div class="row">
                        <div class="col-12">
                          <mat-checkbox>
                            Sed quia consequuntur magni dolores eos qui ratione 
                          </mat-checkbox>
                        </div>
                        <div class="col-12 mt-4">
                          <mat-checkbox>
                            Ut enim ad minima veniam, quis nostrum
                          </mat-checkbox>
                        </div>
                        <div class="col-12 mt-2 mx-4">
                          <span>Enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi con  ut aliquid ex ea commodi consequatur velit esse quam nihil velit esse.</span> <br>
                          <span>Quis autem vel eum iure reprehenderit qui in ea voluptate </span> <br>
                          <span>Velit esse quam nihil molestiae consequatur</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 help-submit">
              <div class="row">
                <div class="col-10 mx-auto">
                  <div class="d-flex align-items-end flex-column">
                    <button mat-raised-button id="acc-text" ><b>ACCOMPAGNEMENT</b></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="footer" class="row">
    <div class="col-12 footer-top"></div>
    <div class="col-12 footer-social">
      <div id="contact-social" class="row justify-content-center ft">
        <div class="col-12 pt-3">
          <span><i class="fab fa-facebook fa-2x"></i></span> <span><i class="fab fa-twitter fa-2x"></i></span> <span><i class="fab fa-instagram fa-2x"></i></span> <span><i class="fab fa-youtube fa-2x"></i></span>
        </div>
      </div>
    </div>
  </section>
</div>
